[submodule "avr_sensor/ukhasnet-rfm69"]
	path = avr_sensor/ukhasnet-rfm69
	url = git@github.com:UKHASnet/ukhasnet-rfm69.git
[submodule "avr_repeater/ukhasnet-rfm69"]
	path = avr_repeater/ukhasnet-rfm69
	url = git@github.com:UKHASnet/ukhasnet-rfm69.git
[submodule "avr_gateway/ukhasnet-rfm69"]
	path = avr_gateway/ukhasnet-rfm69
	url = https://github.com/UKHASnet/ukhasnet-rfm69.git
